<nav id="topnav" class="defaultscroll is-sticky" aria-label="{{ i18n "nav_main_label" }}">
    <div class="container relative">
        <a class="logo" href="{{ "/" | relLangURL }}">
            {{ $siteTitle := .Site.Title }}
            {{ with resources.GetMatch "images/navbar/logo-dark.svg" }}
            <img src="{{ .RelPermalink }}" class="l-dark h-[54px] w-auto" width="200" height="50" fetchpriority="high" alt="{{ printf (i18n "logo_alt") $siteTitle }}">
            {{ end }}
            {{ with resources.GetMatch "images/navbar/logo-light.svg" }}
            <img src="{{ .RelPermalink }}" class="l-light h-[54px] w-auto" width="200" height="50" fetchpriority="high" alt="{{ printf (i18n "logo_alt") $siteTitle }}">
            {{ end }}
        </a>
        <div class="menu-extras">
            <div class="menu-item">
                <button type="button" class="navbar-toggle" id="isToggle" aria-expanded="false" aria-controls="navigation" aria-label="{{ i18n "menu_toggle_label" }}">
                    <div class="lines"><span></span><span></span><span></span></div>
                </button>
            </div>
        </div>
        <div id="navigation" class="transition-transform duration-300 ease-in-out">
            <ul class="navigation-menu nav-light justify-end">
                {{ range .Site.Menus.main }}
                  {{ if not .Parent }}
                    {{ if .HasChildren }}
                    <li class="has-submenu parent-parent-menu-item">
                      <a href="#" onclick="return false;">{{ or (T .Identifier) .Name }}</a><span class="menu-arrow"></span>
                      <ul class="submenu"><li><ul>
                        {{ range .Children }}
                          <li>
                            <a href="{{ .URL | safeURL }}" class="sub-menu-item text-base">
                              {{ with .Params.icon }}<i class="{{ . }}"></i> {{ end }}
                              {{ or (T .Identifier) .Name }}{{ if .Params.extraSpacing }}&nbsp;&nbsp;&nbsp;{{ end }}
                            </a>
                          </li>
                        {{ end }}
                      </ul></li></ul>
                    </li>
                    {{ else }}
                    <li><a href="{{ .URL | safeURL }}" class="sub-menu-item">{{ or (T .Identifier) .Name }}</a></li>
                    {{ end }}
                  {{ end }}
                {{ end }}
                {{ $langSites := partialCached "get-language-sites.html" . }}
                {{ if gt (len $langSites) 1 }}
                <li class="has-submenu parent-parent-menu-item">
                    <a href="#" onclick="return false;" aria-label="{{ i18n "language_switcher_label" }}">
                        <i class="uil uil-globe" style="font-size: 1.3rem;"></i>
                    </a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li>
                            <ul id="languageMenu">
                                {{ $page := $.Page }}
                                {{ range $langSites }}
                                  {{ $langCode := .Language.Lang }}
                                  {{ $langParams := .Params }}
                                  {{ $langLabel := .Language.Label | default $langCode }}
                                  {{ $langFlag := "" }}
                                  {{ $flagAlt := "" }}
                                  {{ if $langParams }}
                                    {{ $langFlag = $langParams.flag_image }}
                                    {{ $flagAlt = $langParams.flag_alt }}
                                    {{ if $langParams.label }}
                                      {{ $langLabel = $langParams.label }}
                                    {{ else if $langParams.i18n_label_key }}
                                      {{ $langLabel = i18n $langParams.i18n_label_key }}
                                    {{ end }}
                                  {{ end }}
                                  {{ $targetURL := "" }}
                                  {{ $isActive := eq $langCode $.Site.Language.Lang }}
                                  {{ if $isActive }}
                                    {{ $targetURL = $page.RelPermalink }}
                                  {{ else }}
                                    {{ range $page.AllTranslations }}
                                      {{ if eq .Language.Lang $langCode }}
                                        {{ $targetURL = .RelPermalink }}
                                      {{ end }}
                                    {{ end }}
                                    {{ if not $targetURL }}
                                      {{ $targetURL = .Home.RelPermalink }}
                                    {{ end }}
                                  {{ end }}
                                <li>
                                  <a href="{{ $targetURL }}" class="sub-menu-item" data-lang="{{ $langCode }}" {{ if $isActive }}aria-current="true"{{ end }}>
                                    {{ if $langFlag }}
                                      {{ $altText := $flagAlt | default (printf (i18n "language_flag_alt") $langLabel) }}
                                      {{ $flagPath := printf "images/navbar/flags/%s.webp" $langFlag }}
                                      {{ with resources.GetMatch $flagPath }}
                                        <img src="{{ .RelPermalink }}" alt="{{ $altText }}" width="{{ .Width }}" height="{{ .Height }}" class="h-5 w-auto lg:w-5 lg:h-5 object-contain flex-shrink-0">
                                      {{ else }}
                                        <img src="/images/navbar/flags/{{ $langFlag }}.webp" alt="{{ $altText }}" class="h-5 w-auto lg:w-5 lg:h-5 object-contain flex-shrink-0">
                                      {{ end }}
                                    {{ else }}
                                      <span class="inline-flex w-auto h-5 lg:w-5 lg:h-5 items-center justify-center rounded-xs bg-slate-200 text-sm lg:text-[0.65rem] font-semibold uppercase text-slate-700 flex-shrink-0 px-2">{{ $langCode }}</span>
                                    {{ end }}
                                    <span class="hidden lg:inline">{{ $langLabel }}</span>
                                  </a>
                                </li>
                                {{ end }}
                            </ul>
                        </li>
                    </ul>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
