<section class="relative md:pb-24 pb-16 overflow-hidden" id="{{ .Params.id | default "features" }}">
  <div class="container relative">
    <div class="grid grid-cols-1 pb-8 items-center text-center">
      <h2 class="mb-4 md:text-4xl md:leading-normal text-2xl leading-normal font-semibold">{{ .Params.title }}</h2>
      {{ with .Params.subtitle }}<p class="text-slate-500 text-2xl duration-500 mt-3 mx-auto max-w-3xl">{{ . }}</p>{{ end }}
    </div>
    {{ $count := len .Params.items }}
    {{ $gridCols := "grid-cols-1" }}
    {{ if eq $count 2 }}
      {{ $gridCols = "grid-cols-1 md:grid-cols-2" }}
    {{ else if eq $count 3 }}
      {{ $gridCols = "grid-cols-1 md:grid-cols-3" }}
    {{ else if ge $count 4 }}
      {{ $gridCols = "grid-cols-1 md:grid-cols-2 lg:grid-cols-4" }}
    {{ end }}
    <div class="grid {{ $gridCols }} mt-8 gap-[30px] justify-items-stretch">
      {{ range .Params.items }}
      <div class="group relative p-6 shadow-xs rounded-xl bg-white overflow-hidden text-center">
        <div class="relative mx-auto size-24 text-transparent">
          {{ partial "components/icon.html" (dict "name" "hexagon" "class" "size-24 fill-blue-600/5") }}
          <div class="absolute inset-0 flex items-center justify-center text-primary text-3xl">
            <i class="{{ .icon }} leading-none"></i>
          </div>
        </div>
        <div class="mt-6">
          <h3 class="text-3xl duration-500">{{ .title }}</h3>
          <p class="text-slate-500 text-2xl duration-500 mt-3 [&_a]:text-blue-500 [&_a]:font-semibold [&_a]:underline [&_a]:transition-colors [&_a]:duration-300 [&_a:hover]:text-blue-600 [&_a:hover]:no-underline">{{ .details | markdownify }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

