{{ define "main" }}
<!-- Start Hero -->
{{ $homeURL := .Site.Home.RelPermalink }}
<section class="relative table w-full py-36" id="start">
    <div class="absolute inset-0">
      {{ partial "components/image-responsive.html" (dict
        "src" .Site.Params.background_404
        "alt" (i18n "404_background_alt")
        "class" "w-full h-full object-cover object-center"
        "loading" "eager"
        "fetchpriority" "high"
        "sizes" "(max-width: 1920px) 100vw, 1920px"
        "maxDisplayWidth" 1920
        "quality" 98
      ) }}
    </div>
    <div class="absolute inset-0 bg-black opacity-75"></div>
    <div class="container relative">
        <div class="grid grid-cols-1 pb-8 text-center mt-10">
            <h3 class="md:text-4xl text-4xl md:leading-normal tracking-wide leading-normal font-medium text-white">{{ i18n "404_hero_heading" }}</h3>
        </div><!--end grid-->
    </div><!--end container-->

    <div class="absolute text-center z-10 bottom-5 start-0 end-0 mx-3">
        <ul class="tracking-[0.5px] mb-0 inline-block">
           <li class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out text-white/50 hover:text-white"><a href="{{ $homeURL }}">{{ i18n "404_breadcrumb_home" }}</a></li>
           <li class="inline-block text-base text-white/50 mx-0.5 ltr:rotate-0 rtl:rotate-180"><i class="uil uil-angle-right-b"></i></li>
           <li class="inline-block uppercase text-[13px] font-bold duration-500 ease-in-out text-white" aria-current="page">404</li>
        </ul>
    </div>
</section><!--end section-->
<div class="relative">
    <div class="shape absolute sm:-bottom-px -bottom-[2px] start-0 end-0 overflow-hidden z-1 text-white">
        <svg class="w-full h-auto scale-[2.0] origin-top" viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!-- End Hero -->

<!-- Start Section-->
<section class="relative mt-36 mb-36 z-10">
    <div class="container relative">
        <div class="grid grid-cols-1 lg:grid-cols-1 md:grid-cols-1">

            <div class="text-center">
                <div class="content">
                    <h2 class="title h5 text-4xl font-medium">{{ (i18n "404_main_heading") | safeHTML }}</h2>
                    <p class="text-slate-500 text-3xl mt-8">{{ i18n "404_main_paragraph" }}</p>
                </div>
                <div class="content mt-8">
                <a href="{{ $homeURL }}" title="{{ i18n "404_home_button_title" }}" class="py-2 px-5 inline-block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-green-700 hover:bg-blue-700 border-green-700 hover:border-blue-700 text-white rounded-md">{{ i18n "404_home_button_label" }}</a>
                </div>
            </div>

        </div><!--end grid-->
    </div><!--end container-->
</section>
{{ end }}
